In [9]:
# What is this about?
# You will learn min, maxsum, count,etc.

In [5]:
import pandas as pd

# Let's start by reading our csv
zoo = pd.read_csv('zoo.csv', delimiter = ',')

In [6]:
# Try:
zoo.count()
# This will count the nnumber of vallues in each column

animal        22
uniq_id       22
water_need    22
dtype: int64

In [7]:
# And counting specific column...
zoo[['animal']].count()

animal    22
dtype: int64

In [8]:
# Summing...
# Here's how you sum the water_needs
zoo.water_need.sum()

7650

In [10]:
# And if you wanna be extra, try:
zoo.sum()
# And look at the !@$%!%!#% you have got into.

animal        elephantelephantelephanttigertigertigertigerti...
uniq_id                                                   22253
water_need                                                 7650
dtype: object

In [26]:
# Max, Min, Mean, Median : Self explanatory...
print(zoo.water_need.min(),
      zoo.water_need.max(), 
      zoo.water_need.mean(),
      zoo.water_need.median(),"\n")

# And if you are curious again...
print("Max:\n", zoo.max(), 
      "\n\nMin:\n",zoo.min(), 
      "\n\nMean:\n",zoo.mean(), 
      "\n\nMedian:\n",zoo.median())

# Note that mean and median for animal does not appear.

80 600 347.727272727 325.0

Max:
 animal        zebra
uniq_id        1022
water_need      600
dtype: object

Min:
 animal        elephant
uniq_id           1001
water_need          80
dtype: object

Mean:
 uniq_id       1011.500000
water_need     347.727273
dtype: float64

Median:
 uniq_id       1011.5
water_need     325.0
dtype: float64

In [31]:
# Grouping
# "I just wanna calculate the stats on zebra only... rest are just useless!"
# Okay, no problem!
# For example, if you wanna find mean of animal..

print(zoo.groupby('animal').mean(),"\n")
#And you can combine the function also!

print(zoo.groupby('animal').mean().water_need,"\n") 
# This returns Series object

print(zoo.groupby('animal').mean()[['water_need']],"\n") 
# This returns DataFrame

          uniq_id  water_need
animal
elephant   1002.0  550.000000
kangaroo   1021.0  416.666667
lion       1017.5  477.500000
tiger      1006.0  310.000000
zebra      1012.0  184.285714

animal
elephant    550.000000
kangaroo    416.666667
lion        477.500000
tiger       310.000000
zebra       184.285714
Name: water_need, dtype: float64

          water_need
animal
elephant  550.000000
kangaroo  416.666667
lion      477.500000
tiger     310.000000
zebra     184.285714

In [ ]:
# Test yourself
# Refer to article_read
# For the users of country_2, what was the most frequent topic and source combination? Or in other words: which topic, from which source, brought the most views from country_2?